.hidden {
    display: none;
}

body {

    margin: 0;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: rgb(56, 57, 63);    
}

header {
    position: sticky;
    display: flex;
    align-self: stretch;

    padding: 0 0 0 2em;
    margin: 0;

    color: white;
    border-bottom: 0.1em black solid;
}

main {
    padding: 2em;
    gap: 1em;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}



svg {
    width: 100%;
    height: 100%;
    background-color: wheat;
}


label {
    display: flex;
    justify-content: space-between;
}

h2 {
    flex: 0 1 100%;
}

section#graph {
    flex: 1 1 60%;
    max-width: 60%;
}

section#bounds, section#stats {
    flex: 0 1 30%;
    max-width: 30%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}




form#file {
    border-radius: 1em;
    padding: 1em;

    background-color: aliceblue;


    width: 70%;
}

form#file>input {
    color: black;
}



